<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.munchkin.musclediary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".src.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".src.main.MainActivity"/>
        <activity android:name=".src.main.food.InputMenuActivity"/>

        <activity android:name=".src.main.chart.InputChartActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.InputSettingActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.DeleteSettingActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.GenderActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.AgeActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.HeightActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.WeightActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.WeeklyWeightGoalActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.RatioGoalActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.KcalGoalActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.chart.dialog.TypeActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.chart.dialog.TermActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.food.ArrangeMenuActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.food.WebProteinActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.main.setting.dialog.ActivityLevelActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".src.signin.SignInActivity" />
        <activity android:name=".src.signin.SignUpActivity" />
        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.main.exercise.InputExerciseActivity" />
        <activity android:name=".src.main.exercise.ArrangeExerciseActivity" />
    </application>

</manifest>